<template>
  <section class="au-animate">
    <div class="row">
      <div class="col-lg-12">
        <!-- ToDo: No news available
        <div class="card card-block">
            <p class="card-text">There are no news available currently.</p>
        </div>-->
        <div class="card card-block" repeat.for="item of news">
          <h4 class="card-title">${item.title}<br>
            <small>on
              <time>${item.created_at}</time>
            </small>
          </h4>
          <p class="card-text">${item.text}</p>

          <p class="card-text text-right">
            posted by <a href="/profiles/view/${item.user_id}">${item.user.username}</a>
            -
            <a href="/news/view/${item.id}">${item.comment_count} Comments</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>