<template>
  <section class="au-animate">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default card-block">
          <h4 class="card-title">${news.title}<br>
            <small>on
              <time>${news.created_at}</time>
            </small>
          </h4>
          <p class="card-text">${news.text}</p>

          <p class="card-text text-right">
            posted by <a href="/profiles/view/${news.user_id}">${news.user.username}</a>
            -
            <a href="/news/view/${news.id}">${news.comment_count} Comments</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>