.news-card-header {
  img {
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }

  h4 {
    margin-bottom: .1rem;
  }
}

.news-card-comment {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }

  img {
    margin-right: 10px;
    width: 32px;
  }

  .media-body {
    .form-control {
      font-size: .8rem;
    }
  }
}
