.profile-image {
  float: left;
  width: 120px;

  img {
    height: 96px;
    width: 96px;
  }
}

.profile-info {
  margin-left: 120px;
}

img.circle-border {
  border: 6px solid #fff;
  border-radius: 50%;
}
