// animate page transitions
section {
  &.au-enter-active {
    animation: fadeIn 1s;
  }
}

.aurelia-animators {
  &.au-stagger {
    animation-delay: 50ms;
  }

  & > .au-enter {
    opacity: 0 !important;
  }

  & > .au-enter-active {
    animation: fadeIn 2s;
  }
}

// animation definitions
@keyframes fadeIn {
  0% {
    opacity: 0;
    transition: opacity 2s ease-in;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
