// Loading Screen
.splash {
  box-sizing: border-box;
  flex: 1;
  margin: 10% 0 0;
  text-align: center;

  .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: $splash-message-shadow-color 0 0 15px;
    text-transform: uppercase;
  }

  .fa-spinner {
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
    text-align: center;
  }
}

// Info Box
.info-box {
  i {
    border-right: 2px solid $widget-info-box-inner-border-color;
    display: block;
    float: left;
    font-size: 60px;
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
    width: 100px;
  }

  .count {
    font-size: 34px;
    font-weight: 700;
    margin-top: -10px;
  }

  .title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .desc {
    font-size: 12px;
    margin-top: 10px;
  }
}

// Validation
.aurelia-validation-message {
  display: inline;
  margin-left: 5px;
}

.has-success label {
  color: green; // TODO
}

.has-warning label {
  color: yellow; // TODO
}

// colors
.green {
  color: $pricing-checkbox-green;
}

.red {
  color: $pricing-checkbox-red;
}
