body {
  background-color: $page-bg-color;
  display: flex;
}

aside {
  flex: 1;
  min-width: 230px;
  max-width: 230px;
  z-index: 1020;
}

@include media-breakpoint-down(lg) {
  aside {
    display: none;
  }
}

navigation-side {
  position: fixed;
  padding: 14px 22px;
  top: 54px;
  width: 230px;
}

main {
  flex: 1;
  margin-top: 54px;
}

#content-container {
  background-color: $content-bg-color;
  padding-bottom: 15px;
  padding-top: 15px;
}

footer {

}

.nav-footer {
  background: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
  color: $footer-text-color;
  padding: 48px;
}

.main-footer {
  text-align: center;
  padding: 16px;
  position: relative;
  background: $footer-bg-color;
  color: $footer-text-color;
}

.text-caption {
  margin: 0 0 16px 0;
  font-size: 12px;
  font-weight: 400;
  opacity: .54;
  line-height: 20px;
}
