html,
body {
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

body {
  background-color: $page-bg-color;
  display: flex;
}

.navigation-pinned {
  display: none;
  flex: 1;
  max-width: 230px;
  min-width: 230px;
  z-index: 1020;
}

.show-navigation {
  display: block;
}

navigation-side {
  padding: 15px;
  position: fixed;
  top: 57px;
  width: 230px;
}

@media (max-width: 992px) {
  navigation {
    display: none;
    z-index: 20000;
  }

  navigation-side {
    background-color: $navigation-bg-color;
    border-bottom: 1px solid $navigation-border-color;
    border-bottom-right-radius: .25rem;
    border-right: 1px solid $navigation-border-color;
    padding: 8px;
  }

  .show-navigation {
    position: absolute;
  }
}

main {
  flex: 1;
  margin-top: 57px;
  overflow-x: hidden;
  overflow-y: auto;
}

#content-container {
  background-color: $content-bg-color;
  min-height: calc(100vh - 54px);
  padding: 15px;
}

.nav-footer {
  background: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
  color: $footer-text-color;
  padding: 15px;
}

.main-footer {
  background: $footer-bg-color;
  color: $footer-text-color;
  padding: 15px;
  text-align: center;
}
