<template>
  <nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navigation-top-collapse">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="navigation-top-collapse">
      <a class="navbar-brand" href="#">LegendsRising</a>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item" if.bind="!isAuthenticated">
          <a class="nav-link" href="#/users/signup">
            <i class="fa fa-user fa-fw"></i> Sign Up
          </a>
        </li>
        <li class="nav-item dropdown" if.bind="!isAuthenticated">
          <a class="nav-link" href="#/auth/signin">
            <i class="fa fa-sign-in fa-fw"></i> Sign In
          </a>
        </li>
        <li class="nav-item" if.bind="isAuthenticated">
          <a class="nav-link" href="#/auth/signout">
            <i class="fa fa-sign-out fa-fw"></i> Sign Out
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>
