<template>
    <require from="templates/elements/navigation-top"></require>
    <require from="templates/elements/navigation-side"></require>
    <require from="templates/elements/footer"></require>
    <require from="utilities/loading-indicator"></require>

    <header>
        <navigation-top router.bind="router"></navigation-top>
    </header>

    <main>
        <loading-indicator loading.bind="router.isNavigating || api.isRequesting"></loading-indicator>
        <navigation-side id="sidebar" class="sidebar-nav"></navigation-side>

        <div class="container-fluid" id="content-container">
            <div id="notification-container"></div>
            <router-view></router-view>
        </div>
    </main>
    <footer></footer>
</template>
