header {

}

main {
  display: flex;
  flex-flow: row;
  margin-top: 54px;
}

.sidebar-nav {
  flex: 0 0 230px;
  z-index: 1020;
}

@include media-breakpoint-down(lg) {
  .sidebar-nav {
    display: none;
  }
}

#content-container {
  min-height: 495px;
  flex: 1 1 auto;
}

footer {

}