.sidebar-nav {
  background-color: $navigation-bg-color;
  border-right: 1px solid $navigation-border-color;
  padding: 14px 22px;

  .nav-container {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        color: $navigation-link-color;
        display: block;
        font-size: 0.9rem;
        padding: 8px 10px;
      }

      a:hover, a:focus, a:active {
        background-color: $navigation-link-bg-color-hover;
        color: $navigation-link-color-hover;
        outline: none;
        text-decoration: none;
      }
    }
  }

  .nav-separator {
    margin: 8px 0;
    border: 0;
    border-bottom: 1px solid $navigation-separator-color;
  }

  .nav-item-icon {
    padding-right: 5px;
  }

  .nav-item-arrow.fa:before {
    content: "\f105";
  }

  .nav-sub-container {
    display: none;
  }

  .nav-container li:hover .nav-sub-container {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    display: block;
    left: 200px;
    margin-top: -41px;
    position: absolute;
    width: 150px;
  }
}