<template>
    <section class="au-animate">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Legal Notice</h3>
                    </div>
                    <div class="panel-body">
                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Name and Address</div>

                                <div class="profile-info-value">
                                    <span>LegendsRising</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">E-Mail Address</div>

                                <div class="profile-info-value">
                                <span><a
                                        href="mailto:mail@legendsrising.de">mail@legendsrising.de</a></span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Phone</div>

                                <div class="profile-info-value">
                                    <span>none by now</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"><?php echo __('Representatives'); ?></div>

                                <div class="profile-info-value">
                                    <span>Marc Scheib</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Register</div>

                                <div class="profile-info-value">
                                    <span>none by now</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">VAT ID</div>

                                <div class="profile-info-value">
                                    <span>none by now</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>