<template>
    <section class="au-animate">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>Starters Package</h5>
                    </div>

                    <div class="panel-body">
                        <ul class="list-unstyled spaced2">
                            <li><i class="fa fa-check green"></i> Basic Equipment</li>
                            <li><i class="fa fa-check green"></i> One Day 50% Gold Find Bonus
                            </li>
                            <li><i class="fa fa-times red"></i> One Week 50% XP Bonus</li>
                            <li><i class="fa fa-times red"></i> Settlement Document</li>
                            <li><i class="fa fa-times red"></i> Starting Resources</li>
                            <li><i class="fa fa-times red"></i> Building Plans</li>
                        </ul>
                        <hr>
                        <div class="price">
                            Free Registration
                        </div>

                        <div>
                            <a href="/users/register" class="btn btn-block btn-primary">
                                <i class="fa fa-fw fa-user"></i> Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h5>Travelers Package</h5>
                    </div>

                    <div class="panel-body">
                        <ul class="list-unstyled spaced2">
                            <li><i class="fa fa-check green"></i> Basic Equipment</li>
                            <li><i class="fa fa-check green"></i> One Day 50% Gold Find Bonus
                            </li>
                            <li><i class="fa fa-check green"></i> One Week 50% XP Bonus</li>
                            <li><i class="fa fa-times red"></i> Settlement Document</li>
                            <li><i class="fa fa-times red"></i> Starting Resources</li>
                            <li><i class="fa fa-times red"></i> Building Plans</li>
                        </ul>
                        <hr>
                        <div class="price">
                            € 1,00
                        </div>

                        <div>
                            <a href="#" class="btn btn-block btn-warning">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Buy</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5>Founders Package</h5>
                    </div>

                    <div class="panel-body">
                        <ul class="list-unstyled spaced2">
                            <li><i class="fa fa-check green"></i> Basic Equipment</li>
                            <li><i class="fa fa-check green"></i> One Day 50% Gold Find Bonus
                            </li>
                            <li><i class="fa fa-check green"></i> One Week 50% XP Bonus</li>
                            <li><i class="fa fa-check green"></i> Settlement Document</li>
                            <li><i class="fa fa-times red"></i> Starting Resources</li>
                            <li><i class="fa fa-times red"></i> Building Plans</li>
                        </ul>
                        <hr>
                        <div class="price">
                            € 2,50
                        </div>

                        <div>
                            <a href="#" class="btn btn-block btn-success">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Buy</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h5>Builders Package</h5>
                    </div>

                    <div class="panel-body">
                        <ul class="list-unstyled spaced2">
                            <li><i class="fa fa-check green"></i> Basic Equipment</li>
                            <li><i class="fa fa-check green"></i> One Day 50% Gold Find Bonus
                            </li>
                            <li><i class="fa fa-check green"></i> One Week 50% XP Bonus</li>
                            <li><i class="fa fa-check green"></i> Settlement Document</li>
                            <li><i class="fa fa-check green"></i> Starting Resources</li>
                            <li><i class="fa fa-check green"></i> Building Plans</li>
                        </ul>
                        <hr>
                        <div class="price">
                            € 5,00
                        </div>

                        <div>
                            <a href="#" class="btn btn-block btn-danger">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Buy</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>