<template>
  <section class="au-animate">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default card-block" if.bind="news">
          <h4 class="card-title">${news.title}<br>
            <small>on
              <time>${news.created_at}</time>
            </small>
          </h4>
          <p class="card-text">${news.text}</p>

          <p class="card-text text-right">
            posted by <a href="#/profiles/view/${news.user_id}">${news.user.username}</a>
          </p>
        </div>

        <div class="card card-default card-block" if.bind="!news">
          <p class="card-text">
            The selected news entry is not available.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
