<template>
  <section class="au-animate">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default card-block" if.bind="!news">
          <p class="card-text">
            The selected news entry is not available.
          </p>
        </div>

        <div class="card news-card">
          <div class="card-default card-block" if.bind="news">
            <div class="news-card-header">
              <a href="#/profiles/view/${news.user_id}" class="pull-left">
                <!-- Todo -->
                <img alt="${news.user.username}" src="http://lr.local/img/avatar/${news.user.avatar}">
              </a>
              <h4><a href="#/news/view/${news.id}">${news.title}</a></h4>
              <strong><a href="#/profiles/view/${news.user_id}">${news.user.username}</a></strong>
              <small class="text-muted"><i class="fa fa-clock-o"></i> ${news.created_at}</small>
            </div>

            <div class="card-text">${news.text}</div>
          </div>

          <div class="card-footer aurelia-animators" if.bind="isAuthenticated || comments.length > 0">
            <div class="news-card-comment" if.bind="isAuthenticated">
              <a href="#/profiles/view/${user.id}" class="pull-left">
                <!-- Todo: image path -->
                <img alt="${user.username}" src="http://lr.local/img/avatar/${user.avatar}">
              </a>

              <div class="media-body">
                <input class="form-control" placeholder="Write comment..." autofocus keyup.delegate="onKeyUp($event)" value.bind="comment">
              </div>
            </div>

            <div class="news-card-comment au-animate" repeat.for="item of comments">
              <a href="#/profiles/view/${item.user.id}" class="pull-left">
                <!-- Todo -->
                <img alt="${item.user.username}" src="http://lr.local/img/avatar/${item.user.avatar}">
              </a>
              <div class="media-body">
                <a href="#/profiles/view/${item.user.id}">${item.user.username}</a> ${item.text}
                <br>
                <small class="text-muted">${item.created_at}</small>
              </div>
            </div>

            <div class="news-card-comment">
              <a href="#" click.delegate="loadMore()">Load more comments</a> <i class="fa fa-fw fa-spinner fa-spin ${loading ? '' : 'invisible'}"></i>
            </div>

            <div class="news-card-comment" if.bind="isAuthenticated">
              <a href="">Comment...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
