<template>
  <section class="au-animate">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-default card-block" if.bind="!news">
          <p class="card-text">
            The selected news entry is not available.
          </p>
        </div>

        <div class="card news-card">
          <div class="card-default card-block" if.bind="news">
            <div class="news-card-header">
              <a href="#/profiles/view/${news.user_id}" class="pull-left">
                <!-- Todo -->
                <img alt="${news.user.username}" src="http://lr.local/img/avatar/${news.user.avatar}">
              </a>
              <h4><a href="#/news/view/${news.id}">${news.title}</a></h4>
              <a href="#/profiles/view/${news.user_id}">${news.user.username}</a>
              <small class="text-muted">on ${news.created_at}</small>
            </div>
            <div class="card-text">${news.text}</div>
          </div>
          <div class="card-footer" if.bind="isAuthenticated">
            <div class="news-card-comment" if.bind="isAuthenticated">
              <!-- Todo: add logged in user data -->
              <a href="#/profiles/view/${news.user_id}" class="pull-left">
                <img alt="${news.user.username}" src="http://lr.local/img/avatar/${news.user.avatar}">
              </a>
              <div class="media-body">
                <textarea class="form-control" placeholder="Write comment..."></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
