<template>
    <nav>
        <ul>
            <li>
                <a href="/news" class="nav-item-toggle" aria-expanded="false">
                    <span class="nav-item-icon fa fa-bars fa-fw"></span>
                    <span class="nav-item"> News</span>
                </a>
            </li>
            <li>
                <a href="/pages/story" class="nav-item-toggle" aria-expanded="false">
                    <span class="nav-item-icon fa fa-file-text-o fa-fw"></span>
                    <span class="nav-item"> Story</span>
                </a>
            </li>
            <li>
                <a href="/pages/pricing" class="nav-item-toggle" aria-expanded="false">
                    <span class="nav-item-icon fa fa-shopping-cart fa-fw"></span>
                    <span class="nav-item"> Pricing</span>
                </a>
            </li>
            <li>
                <a href="/news" class="nav-item-toggle" aria-expanded="false">
                    <span class="nav-item-icon fa fa-home fa-fw"></span>
                    <span class="nav-item"> Settlement</span>
                    <span class="nav-item-arrow fa fa-fw"></span>
                </a>
                <ul class="nav-item-menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>